@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,900&subset=cyrillic');
@import "variables";
@import "common";
@import "slider";
@import "header";
@import "../../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";


body {
  font-family: $font;
  font-weight: normal;
  color: $primary-color;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
